<%- include('header', {title: 'Tổng quan'}) %>

<div class="row">
  <div class="col-md-3 mb-4">
    <div class="card text-white bg-primary">
      <div class="card-body">
        <h5 class="card-title">Tin tức</h5>
        <p class="card-text display-6">0</p>
      </div>
    </div>
  </div>
  <div class="col-md-3 mb-4">
    <div class="card text-white bg-success">
      <div class="card-body">
        <h5 class="card-title">Dịch vụ</h5>
        <p class="card-text display-6">0</p>
      </div>
    </div>
  </div>
  <div class="col-md-3 mb-4">
    <div class="card text-white bg-warning">
      <div class="card-body">
        <h5 class="card-title">Form Đăng ký</h5>
        <p class="card-text display-6">0</p>
      </div>
    </div>
  </div>
  <div class="col-md-3 mb-4">
    <div class="card text-white bg-info">
      <div class="card-body">
        <h5 class="card-title">Đối tác & Dự án</h5>
        <p class="card-text display-6">0</p>
      </div>
    </div>
  </div>
</div>

<%- include('footer') %>
